/**
 * 批量添加附件弹窗样式
 */

.batch-accessory-modal .ant-modal-body {
  padding: 24px;
}

.batch-accessory-modal .selected-info {
  text-align: center;
  margin-bottom: 24px;
  padding: 16px;
  background-color: #f5f5f5;
  border-radius: 6px;
}

.batch-accessory-modal .selected-info p {
  margin: 0;
  color: #666;
  font-size: 14px;
}

.batch-accessory-modal .ant-form-item-label > label {
  font-weight: 500;
}

.batch-accessory-modal .ant-input-number {
  height: 40px;
}

.batch-accessory-modal .ant-input-number-input {
  height: 38px;
  line-height: 38px;
}