/**
 * 批量添加附件弹窗样式
 */

.batch-accessory-modal .ant-form-item {
  margin-bottom: 16px;
}

.batch-accessory-modal .ant-form-item-label {
  font-weight: 500;
}

.batch-accessory-modal .ant-input-number {
  height: 40px;
}